@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=La+Belle+Aurore);

body {
  background-color: #F7F7F7;
  color: #425A65;
  font-family: 'Roboto', sans-serif;
  line-height: 2em;
}

h1 {
  font-size: 3em;
  padding: 1em 0;
}

.Hero {
  display: flex;
  color: #FC6171;
  font-family: 'La Belle Aurore', cursive;
  font-size: 5em;
  justify-content: center;
  animation: draw 4s;
}

@keyframes draw {
  from {color: #425A65;}
    to {color: #FC6171;}
}