@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=La+Belle+Aurore);

body {
  background-color: #F7F7F7;
  color: #425A65;
  font-family: 'Roboto', sans-serif;
}

.Hero-color {}
.Hero-img {
  background: linear-gradient(to right, #FC6171 , #F07E4E);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  margin: 0;
  align-items: center;
}

.Hero-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.Hero {
  display: flex;
  color: white;
  font-family: 'La Belle Aurore', cursive;
  font-size: 5em;
  line-height: 1.2em;
  animation: draw 4s;
  margin: 0;
  justify-content: center;
  align-items: center;
}

@keyframes draw {
  from {color: #425A65;}
    to {color: #FFFFFF;}
}



