.Container-Progress {
	display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: space-around;
} 

.Container-Progress div {
  font-size: 2em;
  text-align: center;
  line-height: 1.2em;
  padding:1em;
}

@media all and (max-width: 800px) {
  .Container-Progress {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .Container-Progress {
    flex-direction: column;
    padding: 0;
  }
}