.Log-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
}

.Event-container {
  display: flex;
  flex-grow: 1;
	align-items: center;  
	justify-content: space-around;
}
.Event-box {
	margin: 20px;
}
.Event-box input, .Event-box textarea {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  color: #425A65;
}

.Event-box button {
  outline: 0;
  background: #F07E4E;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
}

.Event-box button:hover, .Event-box button:active, .Event-box button:focus {
  background: #FC6171;
}


@media all and (max-width: 800px) {
  .Log-container {
    flex-flow: column wrap;
    align-items: center; 
    padding: 0;
  }
  .Event-large {
    font-size: 2em;
  }
}
